<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24">
                <h1>{{ name }} {{ version }}</h1>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <section class="win-section">
        <div class="row">
            <div class="col-xs-24">
                <p>
                    <a href="{{ name }}-{{ version }}.zip" class="btn btn-primary btn-lg">Download {{ name }} {{ version }}</a>
                </p>
            </div>
        </div>
    </section>
</div>
